html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

a {
    transition: 0.3s;
    color: #fff;
}

a:hover {
    transition: 0.3s;
    color: rgb(211, 222, 105);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* .l-header {
    height: 10vh;
} */

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* .p-hero {
  width: 100vw;
  height: 90vh;
} */
/* .p-hero > img {
  width: 100%;
  height: 100%;
} */



.main-logo {
    width: 280px;
    height: 90%;
}

.main-logo>img {
    width: 100%;
    height: 100%;
}

/* .mens-logo>img {
    width: 50%;
    height: 50%;
    margin: 0auto;
    list-style:none;
    text-align: left;
} */

.mens-logo>img {
    list-style: none;
    float: left;
    width: 50%;
    height: 50%;
    padding: 10px;
}

.woman-logo>img {
    list-style: none;
    float: right;
    width: 50%;
    height: 50%;
    padding: 10px;
}


.footer__nav {
    float: right;
    padding: 1%;
}

.woman-logo>img {
    border-bottom: 1px solid #000;
}

.product-logo>img {
    border-bottom: 1px solid #000;
}

.footer__copyright {
    float: left;
    padding: 1%;
    width: 225px;
    height: 150px;
    vertical-align: middle;
}

.ico-instagram {
    float: left;
    padding: 1%;
    width: 225px;
    height: 150px;
    vertical-align: middle;
}

.footer-main-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.product-contents {
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 45vw;
    height: 480px;
    text-align: center;
}

.product-item_img {
    width: 80%;
    height: 80%;
    margin: auto;

}

.product-item_img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
