html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

a {
    transition: 0.3s;
    color: #fff;
    width: 100px;
    line-height: 1;
}

a:hover {
    transition: 0.3s;
    color: rgb(211, 222, 105);
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.w-20 {
    width: 100px;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* .l-header {
    height: 10vh;
} */

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/* .p-hero {
  width: 100vw;
  height: 90vh;
} */


/* .p-hero > img {
  width: 100%;
  height: 100%;
} */

.main-logo {
    width: 280px;
    height: 90%;
}

.main-logo>img {
    width: 100%;
    height: 100%;
}

.mens-logo>img {
    list-style: none;
    float: left;
    width: 50%;
    height: 50%;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.woman-logo>img {
    list-style: none;
    float: right;
    width: 50%;
    height: 50%;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.footer__content {
    clear: both;
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    padding: 1%;
    width: 30%;
}

.footer__actions {
    width: 30%;
    text-align: right;
}

.top-imgs {
    display: flex;
}

.footer__copyright {
    padding: 1%;
    width: 225px;
    height: 150px;
    vertical-align: middle;
}

.ico-instagram {
    float: left;
    padding: 1%;
    width: 225px;
    height: 150px;
    vertical-align: middle;
}

.footer-main-logo {
    list-style: none;
}

.product_contents {
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product_item {
    width: 45vw;
    height: 480px;
    text-align: center;
}

.product_item_img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.product_item_img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDetail {
    display: flex;
}

.productDetail__img {
    width: 50%;
    height: 400px;
}

.productDetail__img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDetail__info {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    border: 1px solid black;
}

.productDetail__title {
    margin: 30px;
}

.productDetail__cart {
    margin: 30px;
}

.cart__img {
    width: 100%;
    height: 100%;
}

.cart__img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart {
    width: 90vw;
    margin: 0 auto;
}

.cart-grid {
    padding: 3px;
    border: 1px solid black;
}

.row {
    text-align: center;
}

.cart__title {
    margin: 30px;
    text-align: center;
}

.cart-contents {
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cart__item {
    display: flex;
}

.cart__img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.cart__item_img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart__img {
    width: 50%;
    height: 400px;
}

.cart__img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart__info {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    border: 1px solid black;
}

.cart__title {
    margin: 30px;
}

.cart__cart {
    margin: 30px;
}

.cart__maintitle {
    border-bottom: 1px solid black;
    text-align: center;
}

.cart__login__button {
    display: flex;
    justify-content: space-evenly;
}

.register {
    border: 1px solid black;
    text-align: center;
    width: 360px;
    padding: 10px;
}

.order_confirm {
    display: inline-block;
    text-align: center;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * サイドバー
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* ナビゲーションバーの背面 */
    padding: 48px 0 0;
    /* ナビゲーションバーの高さ */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    width: 100%;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * ナビゲーションバー
   */

/* .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  } */

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.add__product__img>img {
    width: 30%;
    border: 1px solid black;
}

.add-product_form>.col-sm-6 {
    margin: 0 auto;
}

.add-product_select {
    display: block;
    width: 100%;
    height: 32px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.add-product_btn {
    float: right;
}

.custom-file {
    max-width: 20rem;
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
    text-align: initial;
}

.cart__number {
    margin: 1px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.product-quantity {
    margin: 10px;
}
